* {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

.primary-color {
    color: rgb(232, 125, 49);
}

.btn-primary {
    background: rgb(232, 125, 49);
    height: 64px;
    border-radius: 5px;
    color: aliceblue;
    border: 0;
    font-size: 20px;
    padding: 18px 36px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images//developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 180px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    margin-left: 50px;
    list-style: none;


}

.banner {
    display: flex;
    align-items: center;
    margin: 0 180px;

}

.banner-hello {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    width: 177px;
    height: 61px;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    width: 498px;
    height: 116px;
}

.title-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
    margin-bottom: 20px;
}

/* About section */

.about {
    max-width: 1130px;
    margin: 130px 230px 0px 230px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
}

.about-title {

    font-size: 35px;
    font-style: normal;
    font-weight: 700;


}

.about-description {
    text-align: center;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
}

.info {
    display: flex;
    margin-top: 20px;

}

.about-info {
    margin-right: 50px;
}

.info-title {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 400;

}

.info-description {
    color: #474747;
    font-weight: 700;

}


/* what i do  section*/
.what-i-do {
    max-width: 1130px;
    margin: 130px 230px 0px 230px;
    border-radius: 10px;

}

.what-i-title {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.what-i-description {

    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    display: grid;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
}

/* rersume section */


.resume-title {
    text-align: center;
    margin: 130px;
}

.resume-info {
    display: flex;
    margin: 130px 230px 0px 230px;


}

.title-info {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--Dark-02, #474747);
}

.title-degree {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--Dark-02, #474747);
}

.title-company {
    color: var(--Dark-03, #757575);

    font-size: 20px;

    font-weight: 600;
    margin-bottom: 10px;
}

.title-desc-summ {
    color: var(--Dark-03, #757575);

    font-size: 16px;

    font-weight: 400;
    margin-bottom: 30px;
}

.btn-summary {
    margin-left: 580px;

}


/* footer content */
footer {
    max-width: 1600px;
    height: 500px;
    background: #FFF8F3;
    margin-top: 130px;

}

.footers {

    display: flex;
    padding: 130px 230px 0px 230px;

}

.le-connect {
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.le-desc {
    color: var(--Dark-02, #474747);
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    margin-bottom: 10px;
}

.footer-form {
    padding-left: 20px;

}

form {
    display: grid;

}

form>input {
    margin-top: 24px;
    color: var(--Dark-03, #757575);

    font-size: 16px;

    font-weight: 400;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    width: 461px;
    height: 40px;
    padding-left: 10px;
    border: none;
}

input[type="submit"] {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    text-align: center;

    font-size: 20px;

    font-weight: 700;
}